{{ define "content" }}

<div class="row">
    <div class="col s10 m10 l4 offset-s1 offset-m1 center-align">
        <div class="container">
        <div class="row" style="margin-top: 40px;">
            <form class="col s12" style="margin: 8px; color:black" action="/admin/articles/create" method="POST">
              <input type="hidden" name="_csrf" value="{{ .CSRFToken }}">
                <span style="font-size: xx-large;">New article</span>
              <div class="row">
                <div class="input-field col s12">
                  <textarea name="title" id="article_title" class="materialize-textarea"></textarea>
                  <label for="article_title">Working title</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <textarea name="desc" id="article_desc" class="materialize-textarea"></textarea>
                  <label for="article_desc">Description</label>
                </div>
              </div>
              <button class="btn waves-effect waves-light" type="submit">CREATE NEW ARTICLE
                <i class="material-icons right">send</i>
              </button>
            </form>
        </div>
    </div>
    </div>
    <div class="col s10 m10 l8">
        <div class="row" style="margin-top: 20px; margin-left: 10px;">
        {{ range .Articles }}
                <div class="card col s12 m12 l8 offset-s1 offset-m1 offset-l2" id="{{ .Id }}" style="margin-top: 20px; color: black;">
                    <div class="card-content">
                    <span class="card-title"  style="font-size: xx-large;">{{ .Title }}</span>
                    <p>{{ .Description }}</p>
                    <br>
                    <ul>
                        <li>
                            Is Public: <span>{{ .Public }}</span>
                        </li>
                        <li>
                          Views: <span>{{ .Views }}</span>
                        </li>
                        <li>
                            Created At: <span>{{ .CreatedAt }}</span>
                        </li>
                        <li>
                            Updated At: <span>{{ .UpdatedAt }}</span>
                        </li>
                    </ul>
                    </div>
                    <div class="card-action center-align">
                        <a href="/admin/articles/{{ .Id }}/edit">Edit</a>
                    </div>
                </div>

        {{ end }}
        </div>
    </div>
</div>

{{ end }}