{{ define "content" }}

<h2 style="margin-left: 26px;" id="msg">Latest messages</h2>
<div class="message-list">
{{ range .Messages }}
<div class="message-card">
  <div class="message-header">
    <span><strong>ID:</strong> {{ .Id }}</span>
    <span>{{ .CreatedAt }}</span>
  </div>

  <div><strong>Name:</strong> {{ .Name }}</div>
  <div><strong>Email:</strong> {{ .Email }}</div>

  <div class="message-body">
    <div class="message-preview" title="{{ .Message }}">
      <strong>Message:</strong> {{ .Message }}
    </div>
    <div class="message-actions">
      <button onclick="copyMessage(this)" data-full="{{ .Message }}" title="Copy full message">📋</button>
      <button onclick="deleteMessage('{{ .Id }}')" title="Delete message">🗑️</button>
    </div>
  </div>
</div>
{{ end }}
</div>

<script>
  if ('{{ .Count }}' === "0") {
    document.getElementById("msg").innerText = "No messages yet"
  }
  function getCSRFTokenFromCookie() {
  return document.cookie.split('; ').find(row => row.startsWith('_csrf=')).split('=')[1];
}
  function copyMessage(button) {
    const fullMessage = button.getAttribute("data-full");
    navigator.clipboard.writeText(fullMessage).then(() => {
      alert("Message copied to clipboard!");
    }).catch(err => {
      console.error("Failed to copy", err);
    });
  }
  function deleteMessage(id) {
    if (confirm("Are you sure you want to delete this message?")) {
      console.log("Deleting message with ID:", id);
      fetch(`/admin/messages/${id}`, {
        method: "DELETE",
        headers: {
          "Content-Type": "application/json",
          'X-CSRF-Token': getCSRFTokenFromCookie()
        }
      }).then(res => {
        if (res.ok) {
          location.reload();
        } else {
          alert("Delete failed.");
        }
      });
    }
  }
</script>

{{ end }}